{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
<h2>Jobs</h2>
<div class="example-wrapper">
    {% if job.asks is not null %} 
    {% for ask in job.asks %}
    <div class="jobcard">
        <a href="{{ path('app_profile', {'pseudo': ask.user.pseudo}) }}">{{ ask.user.name }}{{" "}}{{ ask.user.forename }}</a>
        <p>{{ ask.dateAsk|date('H:i d/m/Y') }}</p>
        <a href="{{ path('reply', {'id': ask.user.id}) }}" class="btn btn-primary">Contact</a>
    </div>
    {% endfor %}
    {% else %}
        <p>No answers found.</p>
    {% endif %}
</div>
{% endblock %}
