{% extends 'base.html.twig' %}

{% block body %}
<a href="" class="edit-btn"><img src="{{ asset('images/hand.png') }}" alt="Skills button"></a>
<div class="banner">
    <img class="cover" src="{{ asset('uploads/' ~ user.banner) }}" alt="">
    <div class="user-pic">
        <img class="profile-pic" src="{{ asset('uploads/' ~ user.profilePic) }}" alt="{{ user.name }}{{" "}}{{ user.forename }}'s profile picture">
    </div>
</div>
<div class="filter-card">
    {% if app.user and app.user.myTeams is not empty %}
    <form method="post" action="{{ path('team_add_member', {userId: user.id}) }}">
        <label for="team">Choisissez une équipe :</label>
        <select name="teamId" id="team" required>
            {% for team in app.user.myTeams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter cette personne</button>
    </form>
    {% endif %}

</div>
{% endblock %}
