{% extends 'base.html.twig' %}

{% block body %}
<div class="banner">
    {% if user.banner %}    
    <div class="banner-filter"></div>
    <img class="img-fluid cover" src="{{ asset('uploads/' ~ user.banner) }}" alt="{{ user.name }}{{" "}}{{ user.forename }}'s banner picture}}">
    {% else %}
    <div class="banner-filter"></div>
    <img class="img-fluid cover" src="{{ asset('images/Frame.png') }}" alt="Default banner">
    {% endif %}
    <div class="user-pic">
        {% if user.profilePic %}
        <img class="profile-pic" src="{{ asset('uploads/' ~ user.profilePic) }}" alt="{{ user.name }}{{" "}}{{ user.forename }}'s profile picture">
        <div class="profile-pic-filter"></div>  
        {% else %}
            <img class="profile-pic default" src="{{ asset('../images/default_user.jpg') }}" alt="Default profile pic">
            <div class="profile-pic-filter"></div>
        {% endif %}
    </div>
</div>
<div class="welcome-banner">
    <img class="img-fluid" src="{{ asset('images/filmband.png') }}" alt="Welcome banner">
    <div class="welcome-banner-filter"></div>
    <h3>Welcome {{ app.user.pseudo }}</h3>
    <p>Welcome to my profile</p>
    <span>Here is my information</span>
</div>
<div class="info-user row">
    <div class="col">
        <div class="row">
            <li><h3>Name</h3><p>{{ user.name }}</p></li>
            <li><h3>Forename</h3>{{ user.forename }}</li>
            <li><h3>Pseudo</h3>{{ user.pseudo }}</li>
        </div>
        <div class="row">            
            <li><h3>Email</h3>{{ user.email }}</li>
            <li><h3>Country</h3>{{ user.country }}</li>
            <li><h3>City</h3>{{ user.city }}</li>
        </div>
    </div>
    <div class="col">
        <li><h3>About Me</h3>{{ user.biography }}</li>
    </div>
    <div class="col">
        <li><h3>My skills</h3>
            {# {% for skill in userSkills %}
            <p>{{ skill.name }}</p>
            {% endfor %} #}
        </li>
    </div>
</div>
<h2>Projects</h2>
<h3 class="project-title">Here are the projects that {{ user.name }}{{" "}}{{ user.forename }} has created</h3>
<div class="wrapper">
    {% for project in projects %}
    <div class="project-box">
        <a href="{{ path('project', {'id': project.id}) }}" class="project-card">
            <div class="card">
                <div class="img-card">
                    <img src="{{ asset('images/Actors.jpg') }}" alt="Actors">
                </div>
                <div class="label">
                    <div class="creator">
                        <div class="creator-pic">
                            <img src="{{ asset('uploads/' ~ project.creator.profilePic) }}" alt="{{ project.creator.name }}{{" "}}{{ project.creator.forename }}">
                        </div>
                        <p>{{ project.creator.name }}{{" "}}{{ project.creator.forename }}</p>
                    </div>
                    <h3>{{ project.projectName }}</h3>
                </div>
                <div class="date">
                    <span>{{ project.createdAt|date("H:i m/d/Y") }}</span>
                </div>
                <div class="interact-btns">
                </div>
            </div>
        </a>
        <button class="like-btn" 
            data-id="{{ project.id }}" 
            data-token="{{ csrf_token('like' ~ project.id) }}">
            <img src="{% if app.user and project.likes.contains(app.user) %}{{ asset('images/filledheart.svg') }}{% else %}{{ asset('images/heart.svg') }}{% endif %}" class="like-icon" alt="Like icon"/>
            <span class="like-count">{{ project.getLikes|length }}</span>
        </button>
    </div>
    {% endfor %}
</div>
<div class="paginator">
    {{ knp_pagination_render(projects) }}
</div>
{% endblock %}
