{% extends 'base.html.twig' %}

{% block body %}
<a href="" class="edit-btn"><img src="{{ asset('images/hand.png') }}" alt="Skills button"></a>
<div class="banner">
    <img class="img-fluid cover" src="{{ asset('uploads/' ~ user.banner) }}" alt="">
    <div class="user-pic">
        {% if user.profilePic %}  
            <img class="profile-pic" src="{{ asset('uploads/' ~ user.profilePic) }}" alt="{{ user.name }}{{" "}}{{ user.forename }}'s profile picture">
        {% else %}
            <img class="profile-pic default" src="{{ asset('../images/default_user.jpg') }}" alt="Default profile pic">
        {% endif %}
    </div>
</div>
<h2>Projects</h2>
<h3 class="project-title">Here are the projects that {{ user.name }}{{" "}}{{ user.forename }} has created</h3>
<div class="filter-card">
    {# {% if app.user and app.user.myTeams is not empty %}
    <form method="post" action="{{ path('team_add_member', {userId: user.id}) }}">
        <label for="team">Choisissez une équipe :</label>
        <select name="teamId" id="team" required>
            {% for team in app.user.myTeams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter cette personne</button>
    </form>
    {% endif %} #}
    {# <label for="filter">Filter by : <input type="text" id="filter"></label> #}
</div>
<div class="wrapper">
    {% for project in projects %}
    <div class="project-box">
        <a href="{{ path('project', {'id': project.id}) }}" class="project-card">
            <div class="card">
                <div class="img-card">
                    <img src="{{ asset('images/Actors.jpg') }}" alt="Actors">
                </div>
                <div class="label">
                    <div class="creator">
                        <div class="creator-pic">
                            <img src="{{ asset('uploads/' ~ project.creator.profilePic) }}" alt="">
                        </div>
                        <p>{{ project.creator.name }}{{" "}}{{ project.creator.forename }}</p>
                    </div>
                    <h3>{{ project.projectName }}</h3>
                </div>
                <div class="date">
                    <span>{{ project.createdAt|date("H:i m/d/Y") }}</span>
                </div>
                <div class="interact-btns">
                </div>
            </div>
        </a>
        <button class="like-btn" 
            data-id="{{ project.id }}" 
            data-token="{{ csrf_token('like' ~ project.id) }}">
            <img src="{% if app.user and project.likes.contains(app.user) %}{{ asset('images/filledheart.svg') }}{% else %}{{ asset('images/heart.svg') }}{% endif %}" class="like-icon"/>
            <span class="like-count">{{ project.getLikes|length }}</span>
        </button>
    </div>
    {% endfor %}
</div>
<div class="paginator">
    {{ knp_pagination_render(projects) }}
</div>
{% endblock %}
