{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<a href="{{ path('project_feed') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
<a href="{{ path('add_skill') }}" class="edit-btn"><img src="{{ asset('images/skill.svg') }}" alt="Back button"></a>
<div class="banner">
    <img class="cover" src="{{ asset('uploads/' ~ app.user.banner) }}" alt="">
    <div class="user-pic">
        {% if app.user.profilePic %}
            <img class="profile-pic" src="{{ asset('uploads/' ~ app.user.profilePic) }}" alt="{{ app.user.name }}{{" "}}{{ app.user.forename }}'s Profile Pic">
        {% else  %}
            <img class="profile-pic" src="{{ asset('images/default_user.jpg') }}" alt="Default profile pic">
        {% endif %}
    </div>
</div>
<div class="user-container">
    <div class="user-info">
        <h3>Name : <br><p>{{ user.name }}{{" "}}{{ user.forename }}</p></h3>
        <h3>Pseudo : <br><p>{{ user.pseudo }}</p></h3>
        <h3>Email : <br><p>{{ user.email }}</p></h3>
        <h3>Country : <br><p>{{ user.country }}</p></h3>
        <h3>City : <br><p>{{ user.city }}</p></h3>
        <h3>About Me : <br><p>{{ user.biography }}</p></h3>
    </div>
    <div class="user-info">
        <a href="{{path('edit_profile')}}">Edit</a>
        <h3>My skills :</h3>
        {% for skill in userSkills %}
            <p>{{ skill }}</p>
        {% endfor %}
        <h3>My jobs offer :</h3>
        {% for job in app.user.jobs %}
            <a href="{{ path('app_answers', {'id': job.id}) }}">{{ job.jobName }}</a> <br>
        {% endfor %}   
    </div>
</div>


{% endblock %}
