{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
{# <a href="{{ path('project_feed') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
<a href="{{path('edit_project', {'id': project.id})}}" class="edit-btn"><img src="{{ asset('images/edit.png') }}" alt="Edit Project button"></a> #}
{# <a href="{{path('add_image', {'id': project.id})}}" class="add-image-btn"><img src="{{ asset('images/addImage.svg') }}" alt="Add Image button"></a> #}
<div class="team-profile">
    {# <div class="banner"> #}
        <img class="banner-img" src="{{ asset('uploads/' ~ team.teamBanner) }}" alt="Project banner">
        <div class="banner-filter"></div>
    {# </div> #}
    <div class="team-page">
        <div class="description"><p>{{ team.description }}</p></div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if app.user.followedTeams.contains(team) %}
        <a href="{{ path('team_follow', {'id': team.id}) }}">Unfollow</a>
    {% else %}
        <a href="{{ path('team_follow', {'id': team.id}) }}">Follow</a>
    {% endif %}
{% endif %}
</div>
{% endblock %}

