{% extends 'base.html.twig' %}

{% block title %}LensPkr{% endblock %}

{% block body %}
<div class="home-container">
    <section>
        <svg width="482" height="94" viewBox="0 0 482 94" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.432 94C22.8853 94 18.0213 92.7627 13.84 90.288C9.65867 87.8133 6.416 84.528 4.112 80.432C1.808 76.336 0.656 71.8133 0.656 66.864V4.39999H22.16V68.4C22.16 70.448 22.8853 72.24 24.336 73.776C25.7867 75.312 27.5787 76.08 29.712 76.08H53.392V94H28.432ZM97.603 94C90.179 94 83.651 92.6347 78.019 89.904C72.387 87.088 67.9923 83.248 64.835 78.384C61.763 73.4347 60.227 67.7173 60.227 61.232C60.227 54.064 61.7203 47.92 64.707 42.8C67.6937 37.68 71.6617 33.7547 76.611 31.024C81.6457 28.208 87.1923 26.8 93.251 26.8C100.163 26.8 105.923 28.2507 110.531 31.152C115.224 34.0533 118.766 38.0213 121.155 43.056C123.544 48.0053 124.739 53.68 124.739 60.08C124.739 61.1893 124.654 62.512 124.483 64.048C124.398 65.4987 124.27 66.6507 124.099 67.504H81.091C81.603 69.7227 82.5843 71.6 84.035 73.136C85.4857 74.672 87.3203 75.824 89.539 76.592C91.7577 77.2747 94.2323 77.616 96.963 77.616H117.059V94H97.603ZM80.579 55.088H105.539C105.368 53.7227 105.112 52.4 104.771 51.12C104.43 49.84 103.875 48.7307 103.107 47.792C102.424 46.768 101.614 45.9147 100.675 45.232C99.7363 44.464 98.627 43.8667 97.347 43.44C96.1523 43.0133 94.787 42.8 93.251 42.8C91.2883 42.8 89.539 43.1413 88.003 43.824C86.467 44.5067 85.187 45.4453 84.163 46.64C83.139 47.7493 82.3283 49.072 81.731 50.608C81.219 52.0587 80.835 53.552 80.579 55.088ZM136.299 94V56.24C136.299 50.7787 137.622 45.8293 140.267 41.392C142.912 36.9547 146.667 33.4133 151.531 30.768C156.48 28.1227 162.326 26.8 169.067 26.8C175.894 26.8 181.696 28.1227 186.475 30.768C191.339 33.4133 195.051 36.9547 197.611 41.392C200.171 45.8293 201.451 50.7787 201.451 56.24V94H181.611V56.752C181.611 54.448 181.056 52.3573 179.947 50.48C178.838 48.5173 177.302 46.9813 175.339 45.872C173.462 44.6773 171.328 44.08 168.939 44.08C166.464 44.08 164.246 44.6773 162.283 45.872C160.406 46.9813 158.912 48.5173 157.803 50.48C156.694 52.3573 156.139 54.448 156.139 56.752V94H136.299ZM216.427 94V78.256H248.043C248.896 78.256 249.664 78.0853 250.347 77.744C251.03 77.3173 251.584 76.7627 252.011 76.08C252.438 75.3973 252.651 74.672 252.651 73.904C252.651 73.0507 252.438 72.2827 252.011 71.6C251.584 70.9173 251.03 70.4053 250.347 70.064C249.664 69.6373 248.896 69.424 248.043 69.424H236.523C232.256 69.424 228.374 68.7413 224.875 67.376C221.462 65.9253 218.731 63.7067 216.683 60.72C214.72 57.648 213.739 53.68 213.739 48.816C213.739 45.0613 214.635 41.648 216.427 38.576C218.304 35.504 220.822 33.0293 223.979 31.152C227.222 29.2747 230.763 28.336 234.603 28.336H266.219V44.208H237.675C236.48 44.208 235.456 44.592 234.603 45.36C233.835 46.128 233.451 47.0667 233.451 48.176C233.451 49.3707 233.835 50.3947 234.603 51.248C235.456 52.016 236.48 52.4 237.675 52.4H248.939C253.718 52.4 257.814 53.1253 261.227 54.576C264.726 55.9413 267.414 58.16 269.291 61.232C271.254 64.304 272.235 68.272 272.235 73.136C272.235 76.976 271.254 80.4747 269.291 83.632C267.414 86.7893 264.854 89.3067 261.611 91.184C258.454 93.0613 254.87 94 250.859 94H216.427ZM366.549 94V0.559998H386.389V53.168H395.093L410.069 28.336H432.213L414.549 55.728C419.669 57.8613 423.637 61.1467 426.453 65.584C429.354 69.936 430.805 75.056 430.805 80.944V94H410.837V80.944C410.837 78.5547 410.24 76.4213 409.045 74.544C407.936 72.5813 406.442 71.0453 404.565 69.936C402.688 68.8267 400.554 68.272 398.165 68.272H386.389V94H366.549ZM443.037 94V47.664C443.037 41.6907 444.744 36.9973 448.157 33.584C451.57 30.1707 456.306 28.464 462.365 28.464H481.437V44.592H467.229C466.034 44.592 465.01 45.0187 464.157 45.872C463.304 46.64 462.877 47.664 462.877 48.944V94H443.037Z" fill="#D7D7D7"/>
            <path d="M284.558 94V4.39999H323.086C329.059 4.39999 334.521 5.76533 339.47 8.49599C344.505 11.2267 348.515 15.024 351.502 19.888C354.489 24.6667 355.982 30.2133 355.982 36.528C355.982 42.8427 354.489 48.4747 351.502 53.424C348.515 58.288 344.547 62.0853 339.598 64.816C334.649 67.5467 329.145 68.912 323.086 68.912H306.062V94H284.558ZM306.062 50.864H320.654C323.214 50.864 325.518 50.3093 327.566 49.2C329.614 48.0907 331.278 46.4693 332.558 44.336C333.838 42.2027 334.478 39.6427 334.478 36.656C334.478 33.6693 333.838 31.1093 332.558 28.976C331.278 26.8427 329.571 25.2213 327.438 24.112C325.39 22.9173 323.129 22.32 320.654 22.32H306.062V50.864Z" fill="#A30510"/>
        </svg>
        <h2 id="title">Welcome to LensPkr</h2>
        <p class="subtitle">The best place to share your project</p>
        <div class="btns">
            {% if app.user is not null %}  
            <a class="btn" href="{{ path('recent_project') }}" class="login-btn">Explore</a>
            {% else %}
            <a class="btn" href="{{path('app_login')}}">Login</a>
            <a class="btn" href="{{path('app_register')}}">Sign in</a>
            {% endif %}
        </div>
        <h2>What is LensPkr ?</h2>
        <a href="#carouselExample">Discover</a>
    </section>
    <article>
        {#
            <p>Find a project. Discover productions looking for collaborators and join a team that matches your skills and aspirations.</p>
            
            <p>Build your team. Connect with passionate professionals from the industry: technicians, artists, producers, and many more.</p>
            
            <p>Grow your career. Access opportunities in the industry, whether it's for a job, a collaboration, or a freelance mission.</p>
            
            <p>LensPkr is where creativity meets opportunity.</p>
            
            <p>Join the community and let your talent shine!</p> #}
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p>Share your project. Showcase your films, documentaries, music videos, or short films and find the talents who will bring your vision to life. <br>
                            <a href="{{path('app_login')}}">Start now</a></p>
                        <video src="{{ asset('video/Clap.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p class="subtitle">LensPkr is the platform dedicated to creators and professionals in the audiovisual industry.
                            Whether you're a director, editor, screenwriter, sound engineer, or actor, LensPkr helps you bring your projects to life and expand your network. <br>
                            <a href="{{path('app_login')}}">Start now</a></p>
                            <video src="{{ asset('video/Camera.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p>Find a project. Discover productions looking for collaborators and join a team that matches your skills and aspirations. <br>
                            <a href="{{path('app_login')}}">Start now</a></p>
                        <video src="{{ asset('video/Show.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p>Build your team. Connect with passionate professionals from the industry: technicians, artists, producers, and many more. <br>
                            <a href="{{path('app_login')}}">Start now</a></p>
                        <video src="{{ asset('video/Show.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p>Grow your career. Access opportunities in the industry, whether it's for a job, a collaboration, or a freelance mission. <br>
                            <a href="{{path('app_login')}}">Start now</a></p>
                        <video src="{{ asset('video/Show.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="home-box">
                        <div class="carousel-filter"></div>
                        <p>LensPkr is where creativity meets opportunity.<br>
                            Join the community and let your talent shine! <br>
                        <a href="{{path('app_login')}}">Start now</a></p>
                        <video src="{{ asset('video/Show.mp4') }}" autoplay muted loop></video>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </article>    
</div>
{% endblock %}
