{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
    <h2>Jobs</h2>
    <a href="{{ path('project_feed') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
    {% for job in jobs %}
    {% if job.user.id != app.user.id %}
        <div class="jobcard">
            <h2>{{ job.jobName }}</h2>
            <p>{{ job.description }}</p>
            {% if job.id in appliedAsks %}
                <button disabled>Déjà postulé</button>
            {% else %}
                <a href="{{ path('apply_to_job', { 'id': job.id }) }}" class="btn btn-primary">Postuler</a>
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}
