{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<h2 class="text-center">Messagerie</h2>
<a href="{{ path('project_feed') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
    <div class="mail-info">
        <div class="box">
            <a href="{{ path('send') }}" class="btn send">Envoyer un message</a>  
        </div>
        <div class="box">
            <p>Reçus : {{ app.user.received|length }}</p>
            <a href="{{ path('received') }}" class="btn mailbox">Boîte de réception</a> 
        </div>
        <div class="box"> 
            <p>Envoyés : {{ app.user.sent|length }}</p>
            <a href="{{ path('sent') }}" class="btn sendbox">Boîte d'envoi</a>  
        </div>
    </div>
</div>
{% endblock %}
