{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Messagerie</h1>
    <h2>{{ message.title }}</h2>
    <p>Message de : {{ message.sender.email }}</p>
    <p>{{ message.message }}</p>
    <p>{{message.createdAt | date('d/m/Y')}}</p>
    <a href="{{path('reply', {'id': message.sender.id})}}">Repondre</a> <a href="{{path('delete', {'id': message.id})}}">Supprimer</a>
</div>
{% endblock %}
