{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<style>
</style>

<h2>Messages</h2>
<a href="{{ path('app_message') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
{% for message in app.user.received %}
<div class="message-container">
    {% if message.isRead == false %}
       {% set bold = 'fw-bold' %} 
    {% else %}
       {% set bold = '' %}
   {% endif %}
        <div class="{{bold}}">From : {{ message.sender.email }}</div>
        <div class="{{bold}}"><a href="{{ path('read', {'id': message.id}) }}">{{ message.title }}</a></div>
        <div class="{{bold}}">{{ message.createdAt|date('d/m/Y') }}</div>
        <div class="{{bold}}"><a href="{{ path('received_delete', {'id': message.id}) }}" class="btn btn-danger">Delete</a></div>
    </div>
    {% endfor %}
{% endblock %}
