{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
{# <div class="example-wrapper"> #}
    {# <div class="row"> #}
        <h2 class="text-center">Send a message</h2>
        <div class="message-form">
            {{ form(form)}}
            {# {{form_start(form)}}
                {{form_row(form.title)}}
                {{form_row(form.message)}}
                {{form_row(form.recipient)}}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{form_end(form)}} #}
        </div>
{% endblock %}
