{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<form class="input-group mb-3" action="{{ path('project_search') }}" method="get">
    {# On définit la valeur de la recherche le paramètre q de la requête #}
    <input type="text" name="q" class="form-control" placeholder="Search" value="{{ app.request.query.get('q') }}" aria-label="Example text with button addon" aria-describedby="button-addon1">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
</form>
<div class="project-title">
    <h2>Want to find a project?</h2>
    <p>You can search for a project by typing its name in the search bar or explore the list of recent projects.</p>
    <p>Or create a new project <a href="{{ path('new_project') }}">here</a></p>
</div>
<div class="wrapper">
    {% for project in projects %}
    <div class="project-box">
        <a href="{{ path('project', {'id': project.id}) }}" class="project-card">
            <div class="card">
                <div class="img-card">
                    <img src="{{ asset('images/Actors.jpg') }}" alt="Actors">
                </div>
                <div class="label">
                    <div class="creator">
                        <div class="creator-pic">
                            <img src="{{ asset('uploads/' ~ project.creator.profilePic) }}" alt="">
                        </div>
                        <p>{{ project.creator.name }}{{" "}}{{ project.creator.forename }}</p>
                    </div>
                    <h3>{{ project.projectName }}</h3>
                </div>
                <div class="date">
                    <span>{{ project.createdAt|date("H:i m/d/Y") }}</span>
                </div>
                <div class="interact-btns">
                </div>
            </div>
        </a>
        <button class="like-btn" 
            data-id="{{ project.id }}" 
            data-token="{{ csrf_token('like' ~ project.id) }}">
            <img src="{% if app.user and project.likes.contains(app.user) %}{{ asset('images/filledheart.svg') }}{% else %}{{ asset('images/heart.svg') }}{% endif %}" class="like-icon"/>
            <span class="like-count">{{ project.getLikes|length }}</span>
        </button>
    </div>
    {% endfor %}
</div>
<div class="paginator">
    {{ knp_pagination_render(projects) }}
</div>
{% endblock %}
