{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<div class="project-title">
    <h2>New Project</h2>
    <p>Add a new project</p>
    <p>Fill in the form below to create a new project</p>
</div>
    <div class="add-project">
        {{ form_start(form) }}
        <div class="col">
            {{ form_row(form.projectName) }}
        </div>
        <div class="row">
            {{ form_row(form.description, {'attr': {'class': 'project-description'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.cover) }}
            {{ form_row(form.team) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}