{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<a href="{{ path('project_feed') }}" class="back-btn"><img src="{{ asset('images/back.png') }}" alt="Back button"></a>
<a href="{{path('edit_project', {'id': project.id})}}" class="edit-btn"><img src="{{ asset('images/edit.png') }}" alt="Edit Project button"></a>
<a href="{{path('add_image', {'id': project.id})}}" class="add-image-btn"><img src="{{ asset('images/addImage.svg') }}" alt="Add Image button"></a>
<div class="project-banner">
    <img class="banner-img" src="{{ asset('images/losAngeles.jpg') }}" alt="Project banner">
    <div class="banner-filter">
    </div>
    <a href="{{ path('app_profile', {'id': project.creator.id}) }}">
        <div class="profile-pic">
            <img src="{{ asset('uploads/' ~ project.creator.profilePic) }}" alt="Profile pic of {{ project.creator }}">
        </div>
        <p>{{ project.creator.name }}{{" "}}{{ project.creator.forename }}</p>
    </a>
    <h2>{{ project.projectName }}</h2>
</div>
<div class="project-page">
    <div class="description"><p>{{ project.description }}</p></div>
    <div class="images">
        {# {% for image in project.images %}
            <a href="{{ path('image', {'id': image.id}) }}">
                <img src="{{ asset('uploads/' ~ image.image) }}" alt="Image of {{ project.projectName }}">
            </a>
        {% endfor %} #}
        <div class="project-image">
            <img src="{{ asset('images/Actors.jpg') }}" alt="Image of {{ project.projectName }}">
            <p>Blablabla</p>
        </div>
        <div class="project-image">
            <img src="{{ asset('images/Actors.jpg') }}" alt="Image of {{ project.projectName }}">
            <p>Blablabla</p>
        </div>
        <div class="project-image">
            <img src="{{ asset('images/Actors.jpg') }}" alt="Image of {{ project.projectName }}">
            <p>Blablabla</p>
        </div>
    </div>
</div>
{% endblock %}
